
@{
    ViewBag.Title = "Index";
}

<h2 class="mb-5 mt-5">Home Page</h2>
<h3 class="mb-3">Hello User! You are currently accessing Homepage</h3>
<p class="text-primary text-opacity-100">Welcome to Role based Authentication app!</p>

